<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146610205-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-146610205-1');
</script>

    <meta charset="UTF-8">

    <title>Wine Guy Photography - Professional & Affordable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" type="image/png" href="./images/wineguy_photos/wineguy_favicon.png"/>
    <!-- ///////////////// FONT  ///////////////// -->

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7cCrimson+Text:400,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- ///////////////// CSS  ///////////////// -->
    
	<link type="text/css" rel="stylesheet" href="css/font-awesome.css"/><!--css plugin-->
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.css"/><!--css plugin-->
    <link type="text/css" rel="stylesheet" href="css/magnific-popup.css"/><!--css plugin-->
    <link type="text/css" rel="stylesheet" href="css/style.css"/><!-- My CSS -->
    <link type="text/css" rel="stylesheet" href="css/responsive.css"/>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

</head>
<body>

<div id ="copyright" class='text-center p-3'>
	<h5 style="color:white;">It is illegal to download or copy any images from this website</h5>
</div>
<div id="wrap">
	
<header id="header" class="header-v2">
	<menucomponent></menucomponent>
	<div class="header">
		<div class="header-slider" style="margin-top:0px;">
			<div class="photo-slider" data-slider="single" data-control="true" data-transition="" id="homepageSlider">
				<div class="theme-slider-content">
					<div class="theme-slider-item">
						<div class="title-header white" style="top:65%">
							<h2 class="h2">Wine Guy Photography</h2>
							<p>Professional &amp; Affordable</p>
						</div>
						<div class="ts-item-background">
							<img v-if="isLoading" src="./images/Cube-1s-200px.svg"/>
							<img v-if="!isLoading" :src="currentPhoto" alt="background" class="img-fluid header-photo">
							<div class="bg-overlay"></div>
						</div>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>	
</header>

<div class="main-page">
	<!-- Section History -->
	<section id="about" class="section section-history">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 col-tn-8 col-xs-10 col-tn-offset-2 col-xs-offset-1 col-sm-offset-0 pull-right">
					<div class="history-logo">
						<div class="frame-img">
							<img src="images/wineguy_photos/wineguy_about.jpg" alt="logo">
						</div>
					</div>
				</div>
				<div class="col-sm-7 col-xs-12">
					<div class="section-title title-sty2">
						<h3 class="h3 bor-underline">About</h3>
					</div>
					<div v-html="compiledMarkdown"></div>
						<div class="link-detail">
							<a href="./portfolio.html" class="btn btn-default">My work</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</section>

	<!-- Section Services -->
	<section id="services" class="section section-img img-half section-services" style="min-height:150vh">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-6" id="service-content">
				<div class="parallax-content">
					<div class="section-title">
						<h3 class="h3 bor-underline">Services</h3>
					</div>
					<div class="section-content">
						<div class="project-list style-projt2">
							<div v-for="service in serviceSectionRendered" class="project-item">
								<div class="project-item-content">
									<div class="project-header">
										<span class="project-logo px-4"><i class="fa fa-camera"></i></span>
										<div v-html="service[0]"></div>
									</div>
									<div class="project-body">
										<div v-html="service[1]"></div>
									</div>
									<div class="link-detail">
										<a href="./portfolio-weddings.html" class="btn btn-default">See More</a>
										<a href = "./pricing-weddings.html">
											<button class="btn btn-default">Pricing</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-bg bg-parallax">
			<div class="section-bg-contain">
				<div class="sbg-img bg-4"></div>
			</div>
		</div>
	</section>

	<!-- Section Clients -->
	<section class="section section-clients" style="padding:10px;">
		<div class="section-title py-1">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 text-black">
						<b>
							<h1 class = "text-center" style="color:black; padding: .5em;"> TESTIMONIALS </h1>
						</b>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Section Quotes -->
	<section class="section section-img prallax-slide section-quotes">
		<div class="parallax-content">
			<div class="section-title">
				<div class="container">
					<div class="row"></div>
				</div>
			</div>
			<div class="section-content">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="theme-slider" data-slider="single" data-pagi="true">
								<div class="theme-slider-content">
									<div class="theme-slider-item">
										<div class="ts-item-title py-5">
										</div>
										<div class="ts-item-body">
												<h3 style="color:white;">5 Stars</h3>
											<blockquote class="awquote-dbquotes">
												We are so pleased with Dan's photos of our wedding!  He captured priceless action shots, worked closely with us to execute our ideas, and scoped out the scenery on sites to carefully choose photo locations.  Dan paid close attention to lighting and performed beautiful editing to enhance coloring and create timeless effects in our photos... We'll be returning to Wine Guy Photography for all of our future life events requiring photography.  We trust Dan to take the best photos for us and our family to cherish forever!  We also love his friendly, down-to-earth personality and sincere willingness to go out of his way to deliver amazing photo outcomes!"
											</blockquote>	
										</div>
										<div class="ts-item-footer">
											<div class="author-description">
												<span class="author-name"><a href="#">Angie L</a></span>
											</div>
											<div class="link-detail" style="margin:1em; color:white;">
												<a href="./clientLove.html" class="btn btn-default" style="color:white; border:2px solid white;">See More</a>
											</div>
										</div>
									</div>
									<div class="theme-slider-item">
										<div class="ts-item-title">
										</div>
										<div class="ts-item-body">
											<blockquote class="awquote-dbquotes">
												Dan is the perfect combination of professional and involved.  His experience led to many beautiful shots that were dreamt up by his passion for photography, rather than beautifying a point and shoot.  While his skill and quality are that of a professional, he was personally invested on a much more individual level, even going out and purchasing additional materials (at no small cost) in order to fulfill a more artistic vision.  Dan is a fantastic photographer and was the perfect choice for my fiancé and I.  While the pictures that we requested were fantastic, it was the pictures where we let him run with it that produced the most frame-able moments. He CANNOT be beaten for the price, and we would use him again in a heartbeat
											</blockquote>	
										</div>
										<div class="ts-item-footer">
											<div class="author-description">
												<span class="author-name"><a href="#">Katie L</a></span>
											</div>
											<div class="link-detail" style="margin:1em; color:white;">
												<a href="./clientLove.html" class="btn btn-default" style="color:white; border:2px solid white;">See More</a>
											</div>
										</div>
									</div>
									<div class="theme-slider-item">
										<div class="ts-item-title">
										</div>
										<div class="ts-item-body">
											<blockquote class="awquote-dbquotes">
												"Best shoot ever.  Dan was awesome.  Great with helping us pick the venue and patient with us throughout the shoot.  His turnaround on the pictures was really fast and they looked fantastic.  Highly recommend the Wine Guy."
											</blockquote>	
										</div>
										<div class="ts-item-footer">
											<div class="author-description">
												<span class="author-name"><a href="#"> Britt W.</a></span>
											</div>
											<div class="link-detail" style="margin:1em; color:white;">
												<a href="./clientLove.html" class="btn btn-default" style="color:white; border:2px solid white;">See More</a>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-bg bg-parallax">
			<div class="section-bg-contain">
				<div class="sbg-img bg-1"></div>
			</div>
		</div>
	</section>
</div>
<footer id="contact">

</footer>
</div>


<!-- SCRIPT -->
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/libs/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="js/libs/magnific-popup.js"></script>
<script type="text/javascript" src="js/libs/jquery.appear.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.countTo.js"></script>
<script type="text/javascript" src="js/libs/jquery-isotope.js"></script>
<script type="text/javascript" src="js/libs/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="js/libs/scrollspy.js"></script>
<script type="text/javascript" src="js/libs/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="js/menu-component.js"></script>
<script type="text/javascript" src="js/libs/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.form.min.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/footer.js"></script>
<script src="https://unpkg.com/marked@0.3.6"></script>
<script src="https://unpkg.com/lodash@4.16.0"></script>
<script type="text/javascript" src="js/index.js"></script>
</body>
</html>