<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="" lang="en"> <!--<![endif]-->
<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-146610205-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		
		  gtag('config', 'UA-146610205-1');
		</script>
		
	<meta charset="UTF-8">
	<title>All Photos | Portfolio | Wine Guy Photography</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="shortcut icon" type="image/png" href="./images/wineguy_photos/wineguy_favicon.png"/>
    
    <!-- ///////////////// FONT  ///////////////// -->

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700%7cCrimson+Text:400,600,400italic,700' rel='stylesheet' type='text/css'>

    <!-- ///////////////// CSS  ///////////////// -->
	<script>
		document.addEventListener('contextmenu',e => {e.preventDefault()})
	</script>
	<link type="text/css" rel="stylesheet" href="css/font-awesome.css"/><!--css plugin-->
    <link type="text/css" rel="stylesheet" href="css/owl.carousel.css"/><!--css plugin-->
    <link type="text/css" rel="stylesheet" href="css/magnific-popup.css"/><!--css plugin-->
    <link type="text/css" rel="stylesheet" href="css/style.css"/><!-- My CSS -->
    <link type="text/css" rel="stylesheet" href="css/responsive.css"/>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

</head>
<body>
		<div id ="copyright" class='text-center p-3'>
				<h5 style="color:white;">It is illegal to download or copy any images from this website</h5>
			</div>

<!-- Preloader -->
<div id="loader-wrapper">
    <div class="loader-logo">
        <img src="images/loader2.gif" alt="">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>


<header id="header" class="header-v2">
	<menucomponent></menucomponent>

	<div class="header">
		<div class="bg-header">
	
			<!-- <div class="bg-img bg-2"></div> -->
			<!-- <div class="bg-overlay"></div> -->
		</div>
		<div class="title-header">
			<h1 style="color: black">Store</h1>
		</div>
	</div>	
</header>
<div class="main-page bg-gray padding-tn">
	<section class="section-blog-massory">
		<div class="container">
			<div class = "section-content">
			<span id = "storeText">
			<p>
					All of the images in my Galleries are available for sale as fine art metal or canvas prints in various sizes from small to large. To purchase a print simply click on the “Contact to Purchase” button and send me the name of the image, size you’d like, and whether you’d like metal or canvas. If you don't find the size you'd like, custom prints are available. 
			</p>
			<p>	
				Licensing of images is welcome for use in the hospitality industries and some commercial usage. For licensing information and a price quote please contact me.
		</p>	
		<p>	

					Popular sizes Metal (Standard) - 11 x 14 ($125), 16 x 20 ($235), 24 x 36 ($635), 40 x 50 ($1,550)
					Popular sizes Metal (Panorama) - 12 x 24 ($205), 20 x 40 ($600), 30 x 60 ($1,375)
	</p>		
	<p>	

					Popular sizes Canvas (Standard) - 11 x 14 ($100), 16 x 20 ($195), 24 x 36 ($455)
					Popular sizes Canvas (Panorama) - 12 x 24 ($175), 20 x 40 ($485)"

			</p>
		</span>
		<div class = "text-center">
			<a href="mailto:WINEGUYPHOTOGRAPHY@GMAIL.COM?Subject=A%20Purchase%20From%20Your%20Store">
					<button class="btn btn-default my-3">Contact to Purchase</button>
			</a>
		</div>

	</div>
			<div class="row">
				<div class="col-md-12">
					<div class="post-content" id="portfolio-photos">
						<div v-if="selectedPhoto" class ="photoModalWrapper" @click="closeImage">
							<div class = "photoModal">
							  <img :src="selectedPhoto" alt="photograph">	
							  <h4 style="color:white;">
								{{selectedPhotoName}}
							</h4>
							</div>
						  </div>
						  <div id="type-masory" class="blog-list blog-masory row">
								<photo-component @opened-image="openImage" v-for="photo in displayedPhotos" :photo="photo" :filepath="'./images/store/'+ photo.category + '/' + photo.url"/>
							</div>
					</div>
				</div>	
			</div>
		</div>
	</section>
</div>
<footer id="contact">
</footer>

<!-- SCRIPT -->
<script>const portfolioCategory = "allPhotos" </script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script type="text/javascript" src="js/libs/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.owl.carousel.js"></script>
<script type="text/javascript" src="js/libs/magnific-popup.js"></script>
<script type="text/javascript" src="js/libs/jquery.appear.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.countTo.js"></script>
<script type="text/javascript" src="js/libs/jquery-isotope.js"></script>
<script type="text/javascript" src="js/libs/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="js/libs/scrollspy.js"></script>
<script type="text/javascript" src="js/libs/jquery.infinitescroll.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.validate.min.js"></script>
<script type="text/javascript" src="js/libs/jquery.form.min.js"></script>
<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/footer.js"></script>
<script type="text/javascript" src="js/script.js"></script>
<script type="text/javascript" src="js/menu-component.js"></script>
<script type="text/javascript" src="js/store.js"></script>



</body>
</html>